<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for (@user) do |form| %>
    <%= render partial: '/users/form', object: form %>

    <!-- Hardcode a radio button here that input its own individual params rather than being under 'users' -->

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
