<div>
<% unless @user.avatar.nil? %>
  <%= image_tag @user.avatar.url %>
<% end %>
</div>

<p><%= @user.email %></p>
<p><%= @user.first_name %></p>
<p><%= @user.role %>

<% if signed_in? %>
<% if current_user.id == @user.id || current_user.admin? %>
<%= link_to 'edit', edit_user_path(@user) %>
<%= link_to 'delete', user_path(@user), data: {:confirm => 'Are you sure?'}, :method => :delete %><br><br><br>
<% end %>
<% end %>

<!-- if user is tenant, show reservations, else show listing :) -->