<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <%= link_to 'Home', root_url %>
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  <% if signed_in? %>
  <div id='self-profile-link'>
    <%= link_to 'Your Profile', current_user %>
  </div>
  <div id='current-user-image-div'>
    <% unless current_user.nil? %>
      <%= link_to image_tag(current_user.avatar.thumb.url, id: 'current-user-image-thumb'), current_user %>
    <% end %>
  </div>
  <%  end %>

  <!-- link to self profile with profile image -->

  <%= yield %>
</body>
</html>
